* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 20, 20);
}

ul {
  padding-bottom: 64px;
}

li {
  padding: 4px 14px;
  display: flex;

  p {
    display: flex;
    align-items: center;
    background: rgb(25, 25, 25);
    font: 400 14px "Inter";
    color: white;
    padding: 0 18px;
    border-radius: 999px;
  }

  img:first-child {
    width: 44px;
    height: 44px;
    border-radius: 999px;
    margin-right: 8px;

  }
  img:last-child {
    width: 200px;
    border-radius: 14px;
  }
}


form {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100vw;

  button {
    margin: 14px 0 14px 14px;
    padding: 0 16px;
    
    border-radius: 999px;
    border: 1px solid rgb(50, 50, 50);
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(4px);
    color: white;
  }

  input {
    padding: 0 18px;
    border-radius: 999px;
    font: 400 14px "Inter";
    outline: none;
    border: 1px solid rgb(50, 50, 50);
    margin: 14px;
    width: 100%;
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(4px);
    color: white;
  }
}

::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  a {
    color: white;
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    font: 600 14px "Inter";
    cursor: pointer;
    margin: 8px 0;
    border-radius: 10px;
    box-shadow: 0 4px 0 white;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 2px 0;
    }

    &:active {
      box-shadow: 0 0 0;
    }
  }
}

.more {
  display: flex;
  position: fixed;
  left: 14px;
  bottom: 75px;

  border: 1px solid rgb(50, 50, 50);
  background: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 14px;

  .buttons {
    display: none;
    flex-direction: column;
    width: 400px;
    margin: 8px;

    &.active {
      display: flex;
    }
  }

  .gifsMenu {
    display: none;
    flex-direction: column;
    height: 400px;
    width: 200px;
    margin: 8px;
    overflow-y: auto;
    border-radius: 8px;

    &.active {
      display: flex;
    }
    
    img {
      border-radius: 14px;
      margin-bottom: 8px;
      cursor: pointer;
    }
  }

  button {
    background: rgba(20, 20, 20, 0.5);
    color: white;
    padding: 14px;
    background: rgb(30, 30, 30);
    border: none;
    border-radius: 8px;
    text-align: left;
    font: 400 12px "Inter";
    transition: border 0.2s;
    border: 1px solid transparent;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }

    &:hover {
      border-color: rgb(155, 155, 155);
    }
  }
}