@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
}

body {
  background: rgb(20, 20, 20);
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 20px;
  width: 100vw;
  border-top: 1px solid rgb(30, 30, 30);
}

#message h1 {
  color: white;
  font: 600 18px "Poppins";
}

#message p {
  color: white;
  font: 400 16px "Poppins";
}

.Chat ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding-bottom: 60px;
}

.Chat form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.Chat input {
  background: rgb(30, 30, 30);
  font: 600 16px "Poppins";
  color: white;
  padding: 12px;
  width: 100%;
}

.Chat button {
  font: 600 16px "Poppins";
  padding: 12px 24px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#continue-with-google {
  border-radius: 12px;
  cursor: pointer;
  font: 600 16px "Poppins";
  padding: 12px 24px;
}
