@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
}

body {
  background: rgb(20, 20, 20);
}

li {
  padding: 6px 12px;
}

li h1 {
  color: white;
  font: 600 16px "Poppins";
}

li p {
  color: rgb(185, 185, 185);
  font: 400 14px "Poppins";
}

.chat ul {
  position: fixed;
  bottom: 60px;
}

.chat form {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.chat input {
  background: rgb(30, 30, 30);
  font: 400 14px "Poppins";
  color: white;
  padding: 12px;
  width: 100%;
}

.chat button {
  font: 600 14px "Poppins";
  padding: 0 26px;
  cursor: pointer;
  background: white;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#continue-with-google {
  border-radius: 12px;
  cursor: pointer;
  font: 600 16px "Poppins";
  padding: 12px 24px;
  background: white;
  margin: 6px 0;
}
